body { background: #dc6da7; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-database-0 { color: #cb9e34; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #95a46; font-size: 21px; margin-bottom: 5px; }
.block-cluster-2 { color: #d82816; font-size: 19px; margin-bottom: 5px; }
.block-order-3 { color: #efd7db; font-size: 17px; margin-bottom: 5px; }
.block-filter-4 { color: #be4d4a; font-size: 16px; margin-bottom: 5px; }
.block-notify-5 { color: #69e9c1; font-size: 19px; margin-bottom: 5px; }
.block-cluster-6 { color: #595f5c; font-size: 16px; margin-bottom: 5px; }
.block-user-7 { color: #d8d6ce; font-size: 15px; margin-bottom: 5px; }